:root {
  font-size: 62.5%; /* 10px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
  list-style: none;
}
* a {
  text-decoration: none;
}

html {
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: #5A2D82;
  color: #FFF;
  height: 20vh;
  padding: 4rem;
  display: grid;
  -ms-display: grid;
  grid-template-columns: minmax(20rem, 35rem) 1fr;
  -ms-grid-template-columns: minmax(20rem, 35rem) 1fr;
}
.header h1 {
  font-size: 3.4rem;
}
.header a {
  color: #FFF;
}
.header .navbar {
  display: grid;
  -ms-display: grid;
  height: 8rem;
}
.header .navbar .nav {
  display: flex;
  -ms-display: flex;
  justify-content: space-between;
  margin-top: 0.8rem;
}
.header .navbar .nav__item a {
  display: flex;
  -ms-display: flex;
  color: #FFF;
}
.header .navbar .nav__item a :first-child {
  margin-right: 1rem;
}
.header .navbar .search {
  display: flex;
  background-color: #FFF;
  align-items: center;
  border-radius: 0.3rem;
  height: 4.7rem;
  margin-top: 1.5rem;
}
.header .navbar .search :first-child {
  width: 5rem;
  fill: #000;
}
.header .navbar .search input {
  border: none;
  width: 100%;
  outline: none;
}

.container {
  margin: 4rem;
}
.container > span {
  font-size: 2.5rem;
  font-weight: 800;
}
.container .cards {
  margin-top: 3rem;
  display: grid;
  -ms-display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  -ms-grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
}
@media only screen and (min-width: 1360px) {
  .container .cards {
    grid-template-columns: repeat(4, minmax(30rem, 1fr));
    -ms-grid-template-columns: repeat(4, minmax(30rem, 1fr));
  }
}
.container .cards__item.home::before {
  content: " ";
  padding: 1.9rem;
  height: 0.1rem;
  background-color: #000;
  border: none;
  border-radius: 2px 2px 0 0;
  position: absolute;
  top: -1px;
  left: 0.2rem;
  border-radius: 0 0 0.3rem 0.3rem;
  cursor: pointer;
}
.container .cards__item.home::after {
  content: " ";
  width: 0;
  height: 0;
  left: 0.2rem;
  top: 3.6rem;
  border-left: 2rem solid transparent;
  border-right: 1.8rem solid transparent;
  border-top: 2rem solid #000;
  border-bottom: 0;
  position: absolute;
  cursor: pointer;
}
.container .cards__item {
  margin: 0 2rem 2rem 0;
  max-width: 30rem;
  height: 48rem;
  border: 1px solid rgb(185, 185, 185);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.container .cards__fav {
  position: absolute;
  width: 0;
  height: 0;
  left: 0.6rem;
  top: 0.6rem;
  color: #FFF;
}
.container .cards__fav > svg {
  font-size: 3rem;
  cursor: pointer;
}
.container .cards__fav.wishlist {
  position: absolute;
  width: 0;
  height: 0;
  left: 25.5rem;
  top: 0;
  color: #FFF;
}
.container .cards__fav.wishlist > svg {
  font-size: 4.5rem;
  cursor: pointer;
  fill: #000;
}
.container .cards__image img {
  width: 100%;
  object-fit: cover;
}
.container .cards__title {
  font-weight: 700;
  align-items: center;
  margin: 1rem 0 7rem 0;
}
.container .cards__price {
  font-weight: bold;
  color: #EBD341;
}
.container .cards__fav--remove {
  color: red;
}
.container .noWishlist {
  width: 100vw;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .noWishlist p.noWishlist__message {
  font-size: 2rem;
}

/*# sourceMappingURL=main.css.map */
