$font-family: 'Roboto', sans-serif;
$primary-text-color: #FFF;
$secondary-text-color: #000;
$third-text-color: #5A2D82;
$price-color: #EBD341;
$bg-header: #5A2D82;
$bg-white: #FFF;
$container-width: 1500px;